@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
   margin: auto;
   background-color: hsl(212, 45%, 89%);
   height: 100vh;
   align-items: center;
   display: flex;
}

.card {
   margin: auto;
   padding: 16px 16px 40px 16px;
   background-color: hsl(0, 0%, 100%);
   border-radius: 20px;
   width: 300px;
   display: flex;
   flex-direction: column;
}

img {
   margin: 0 0 24px;
   padding: 0;
   border-radius: 20px;
}

.text {
   padding: 0 16px;
   text-align: center;
   font-family: "outfit";
}

.text h2 {
   font-size: 22px;
   font-weight: bold;
   line-height: 120%;
   margin: 0 0 24px;
   color: rgb(31, 49, 79);
}

.text p {
   margin: 0;
   font-size: 15px;
   line-height: 140%;
   letter-spacing: 0.2px;
   color: rgb(104, 119, 141);
}