@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   /* Colors */
   --color-slate-900: rgb(31, 49, 79);
   --color-slate-500: rgb(104, 119, 141);
   --color-Slate-300: rgb(213, 225, 239);
   --color-white: rgb(255, 255, 255);
   /* Spacing */
   --spacing-200: 1.6rem;
   --spacing-300: 2.4rem;
   --spacing-500: 4rem;
}
html {
   font-size: 62.5%;
   font-family: "outfit", sans-serif;
}
/* TYPOGRAGHY */
.text-preset1 {
   font-size: 2.2rem;
   line-height: 120%;
   font-weight: 700;
}
.text-preset2 {
   font-size: 1.5rem;
   line-height: 140%;
   font-weight: 400;
   letter-spacing: .2px;
}
body {
   background-color: var(--color-Slate-300);
   height: 100dvh;
   width: 100dvw;
   display: flex;
   align-items: center;
   justify-content: center;
}
.card {
   width: 32rem;
   background-color: var(--color-white);
   border-radius: 2rem;
   padding: var(--spacing-200) var(--spacing-200) var(--spacing-500);
}
.qr-img {
   width: 28.8rem;
   height: 28.8rem;
   border-radius: 1rem;
}
.qr-text {
   margin-top: var(--spacing-300);
   display: flex;
   flex-direction: column;
   gap: var(--spacing-200);
   justify-content: space-between;
   padding: 0 var(--spacing-200);
   text-align: center;
}
.qr-text h2 {
   color: var(--color-slate-900);
}
.qr-text p {
   color: var(--color-slate-500);
}